@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

#page-title{
  font-family: 'Notable', sans-serif;
  margin-top:50px;
}

body{
  background:rgb(250,240,230);
}

  
  
 
  
  form {

    margin-top: 100px;

 
  }

  button{
    padding:20px;
    font-size:18px;
    width:8em;
    border-radius:10px;
    background-color:#f08080;
  }

  