<!-- <h1> Welcome!</h1> -->


<div class="container">

<div class="diversity-image">
<div >
    <img class="img" src= "../../assets/images/avatars-5615504__480.jpg" alt=""><img class="img img2" src="../../assets/images/avatars-5615507__480.webp">
</div>

 <div class="mission " id="business-tag">
    <h1 class="tag-line">"Equity, Inclusion, and Dignity for all."</h1>
<p>A community connecting underrepresented tech talent to jobs in inclusive workplaces.</p>
<a class="btn btn-primary" href=#>Subscribe</a>
</div>






</div>
